## Database linking

In [1]:
from sqlalchemy import create_engine, Column, Integer, String, Float, ForeignKey
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy.orm import relationship
from sqlalchemy.orm import sessionmaker
from pprint import pprint
import pandas as pd
import json

In [2]:
#Establish connection to the database
#Change dbName to name of the database in pgAdmin/postgres. 
dbName = 'Project_3'
DATABASE_URL = 'postgresql://postgres:postgres@localhost:5432/' + dbName

# Create a database engine
engine = create_engine(DATABASE_URL)

# Declare a base class for declarative table definitions
Base = declarative_base()

# Drop all tables (useful for debugging, be cautious in production)
#Included for debugging purposes, only uncomment for those reasons
Base.metadata.drop_all(engine)

In [3]:
#Declare each table as a class
class State(Base):
    __tablename__ = 'States'

    state_id = Column(String(2), primary_key=True)
    state_name = Column(String(20), nullable=False)
    geo_center_lat = Column(Float, nullable=False)
    geo_center_long = Column(Float, nullable=False)

class StatesCensusData(Base):
    __tablename__ = 'StatesCensusData'

    state_id = Column(String(2), ForeignKey('States.state_id'), primary_key=True)
    year = Column(Integer, primary_key=True)
    population = Column(Integer, nullable=False)

class QuarterlyProduction(Base):
    __tablename__ = 'QuarterlyProduction'

    state_id = Column(String(2), ForeignKey('States.state_id'), primary_key=True)
    year = Column(Integer, primary_key=True)
    quarter = Column(String(2), primary_key=True)
    total_quarter_prod = Column(Float)
    taxable_bottles_cans_prod = Column(Float)
    taxable_kegs_prod = Column(Float)
    taxable_prem_use_prod = Column(Float)
    tax_free_export_prod = Column(Float)
    tax_free_prem_use_prod = Column(Float)
    stocks_on_hand = Column(Float)

class AnnualCraftProduction(Base):
    __tablename__ = 'AnnualCraftProduction'

    year = Column(Integer, primary_key=True)
    brewery_cat = Column(String(20), primary_key=True)
    annual_craft_production_amount = Column(Integer)

class AnnualCraftBreweryCounts(Base):
    __tablename__ = 'AnnualCraftBreweryCounts'

    year = Column(Integer, primary_key=True)
    brewery_cat = Column(String(20), primary_key=True)
    brewery_counts = Column(Integer)

class AnnualStateCraftProduction(Base):
    __tablename__ = 'AnnualStateCraftProduction'

    state_id = Column(String(2), ForeignKey('States.state_id'), primary_key=True)
    year = Column(Integer, primary_key=True)
    annual_craft_state_prod_amount = Column(Integer)

class AnnualTTBStatePermitCount(Base):
    __tablename__ = 'AnnualTTBStatePermitCount'

    state_id = Column(String(2), ForeignKey('States.state_id'), primary_key=True)
    year = Column(Integer, primary_key=True)
    state_ttb_permit_count = Column(Integer)

# Create tables in the database
Base.metadata.create_all(engine)

In [4]:
#Create session - cell may become unneeded, we shall see
Session = sessionmaker(bind=engine)
session = Session()

## Heatmap Query

In [5]:
#Generate heatmap data, including count of breweries in the state, breweries per capita, and total barrels produced in the state
# SQL query
query = '''
SELECT
    s."StateName" AS statename,
    attb."Year",
    "asc"."AnnualCraftStateProdAmount",
    attb."StateTTBPermitCount",
    scd."Population"
FROM
    "States" s
LEFT JOIN
    "AnnualStateCraftProduction" "asc" ON s."StateID" = "asc"."StateID"
LEFT JOIN
    "AnnualTTBStatePermitCount" attb ON s."StateID" = attb."StateID" AND "asc"."Year" = attb."Year"
LEFT JOIN
    "StatesCensusData" scd ON s."StateID" = scd."StateID" AND "asc"."Year" = scd."Year";
'''

# Execute the query and fetch the results into a DataFrame
heatDF = pd.read_sql_query(query, engine)

In [6]:
heatDF.head()

,statename,Year,AnnualCraftStateProdAmount,StateTTBPermitCount,Population
0,Alabama,2017,62738,52,4874747
1,Alaska,2017,204302,45,739795
2,Arizona,2017,147728,130,7016270
3,Arkansas,2017,42294,44,3004279
4,California,2017,3285525,1106,39536653

In [7]:
alabama_df = heatDF[heatDF['statename'] == 'Alabama']
alabama_df

,statename,Year,AnnualCraftStateProdAmount,StateTTBPermitCount,Population
0,Alabama,2017,62738,52,4874747
51,Alabama,2018,76640,55,4887871
102,Alabama,2019,85480,66,4903185
153,Alabama,2020,78847,68,5024279
204,Alabama,2021,96004,77,5039877
255,Alabama,2022,95185,84,733276

Below is the code to manipulate the query result into the JSON format. In this process, I make some decisions about the data, namely:

Taking the average over the time period for amount produced

Taking the average Permit Count over the time period

Setting the null values in population to -1, and taking the average of those (currently that table is empty in the database)


The above may change after discussion with the group

In [8]:
# Group by 'State'
grouped_df = heatDF.groupby('statename').agg({
    'AnnualCraftStateProdAmount': 'mean',
    'StateTTBPermitCount': 'mean',
    'Population': 'mean'
}).reset_index()

# Replace NaN values in 'Population' with a placeholder value (e.g., -1)
grouped_df['Population'].fillna(-1, inplace=True)

# Calculate 'Per Capita' by dividing 'StateTTBPermitCount' by 'Population'
grouped_df['StateTTBPerCapita'] = grouped_df['StateTTBPermitCount'] / grouped_df['Population']

# Rename columns to match the JSON structure
grouped_df.rename(columns={
    'statename': 'State',
    'AnnualCraftStateProdAmount': 'Production',
    'StateTTBPermitCount': 'TTBPermitCount',
    'StateTTBPerCapita': 'BreweriesPerCapita'
}, inplace=True)

# Drop unnecessary columns
grouped_df.drop(['Population'], axis=1, inplace=True)

grouped_df[['Production', 'TTBPermitCount']] = grouped_df[['Production', 'TTBPermitCount']].round()
grouped_df.head()

        State  Production  TTBPermitCount  BreweriesPerCapita
0     Alabama     82482.0            67.0            0.000016
1      Alaska    184680.0            61.0            0.000042
2     Arizona    187002.0           161.0            0.000025
3    Arkansas     45810.0            64.0            0.000017
4  California   3487648.0          1379.0            0.000035

In [9]:
json_data = {
    "type": "FeatureCollection",
    "features": []
}

for index, row in grouped_df.iterrows():
    feature = {
        "type": "Feature",
        "properties": {
            "State": row['State'],
            "Production": float(row['Production']),
            "Breweries": int(row['TTBPermitCount']),
            "Breweries Per Capita": float(row['BreweriesPerCapita'])
        }
    }
    json_data["features"].append(feature)

# Convert the dictionary to JSON
json_result = json.dumps(json_data, indent=2)

# Print or use the JSON data as needed
print(json_result)
file_path = "../data/heatmap.json"

with open(file_path, 'w') as file:
    file.write(json_result)

print(f"JSON data exported to: {file_path}")

{
  "type": "FeatureCollection",
  "features": [
    {
      "type": "Feature",
      "properties": {
        "State": "Alabama",
        "Production": 82482.0,
        "Breweries": 67,
        "Breweries Per Capita": 1.5787467696072395e-05
      }
    },
    {
      "type": "Feature",
      "properties": {
        "State": "Alaska",
        "Production": 184680.0,
        "Breweries": 61,
        "Breweries Per Capita": 4.206317591837458e-05
      }
    },
    {
      "type": "Feature",
      "properties": {
        "State": "Arizona",
        "Production": 187002.0,
        "Breweries": 161,
        "Breweries Per Capita": 2.4806851313357142e-05
      }
    },
    {
      "type": "Feature",
      "properties": {
        "State": "Arkansas",
        "Production": 45810.0,
        "Breweries": 64,
        "Breweries Per Capita": 1.706849148895047e-05
      }
    },
    {
      "type": "Feature",
      "properties": {
        "State": "California",
        "Production": 3487648.0,
        "Breweries": 1379,
        "Breweries Per Capita": 3.498819545996357e-05
      }
    },
    {
      "type": "Feature",
      "properties": {
        "State": "Colorado",
        "Production": 1198012.0,
        "Breweries": 542,
        "Breweries Per Capita": 9.432190811741358e-05
      }
    },
    {
      "type": "Feature",
      "properties": {
        "State": "Connecticut",
        "Production": 244268.0,
        "Breweries": 148,
        "Breweries Per Capita": 4.1120590866689777e-05
      }
    },
    {
      "type": "Feature",
      "properties": {
        "State": "Delaware",
        "Production": 295239.0,
        "Breweries": 44,
        "Breweries Per Capita": 4.778023963766053e-05
      }
    },
    {
      "type": "Feature",
      "properties": {
        "State": "District of Columbia",
        "Production": 33783.0,
        "Breweries": 16,
        "Breweries Per Capita": 2.1868995789102544e-05
      }
    },
    {
      "type": "Feature",
      "properties": {
        "State": "Florida",
        "Production": 1335465.0,
        "Breweries": 465,
        "Breweries Per Capita": 2.1573338471344785e-05
      }
    },
    {
      "type": "Feature",
      "properties": {
        "State": "Georgia",
        "Production": 491136.0,
        "Breweries": 168,
        "Breweries Per Capita": 1.5767866747180196e-05
      }
    },
    {
      "type": "Feature",
      "properties": {
        "State": "Hawaii",
        "Production": 108978.0,
        "Breweries": 42,
        "Breweries Per Capita": 2.965073526846822e-05
      }
    },
    {
      "type": "Feature",
      "properties": {
        "State": "Idaho",
        "Production": 91201.0,
        "Breweries": 105,
        "Breweries Per Capita": 2.9239007338017752e-05
      }
    },
    {
      "type": "Feature",
      "properties": {
        "State": "Illinois",
        "Production": 410131.0,
        "Breweries": 377,
        "Breweries Per Capita": 3.204256841035188e-05
      }
    },
    {
      "type": "Feature",
      "properties": {
        "State": "Indiana",
        "Production": 249958.0,
        "Breweries": 261,
        "Breweries Per Capita": 4.2513823974494305e-05
      }
    },
    {
      "type": "Feature",
      "properties": {
        "State": "Iowa",
        "Production": 126351.0,
        "Breweries": 141,
        "Breweries Per Capita": 4.7583238326217405e-05
      }
    },
    {
      "type": "Feature",
      "properties": {
        "State": "Kansas",
        "Production": 44900.0,
        "Breweries": 76,
        "Breweries Per Capita": 2.5816202316961417e-05
      }
    },
    {
      "type": "Feature",
      "properties": {
        "State": "Kentucky",
        "Production": 121589.0,
        "Breweries": 108,
        "Breweries Per Capita": 2.4073954295969278e-05
      }
    },
    {
      "type": "Feature",
      "properties": {
        "State": "Louisiana",
        "Production": 215168.0,
        "Breweries": 60,
        "Breweries Per Capita": 1.2992171821687682e-05
      }
    },
    {
      "type": "Feature",
      "properties": {
        "State": "Maine",
        "Production": 346013.0,
        "Breweries": 186,
        "Breweries Per Capita": 8.139273896686114e-05
      }
    },
    {
      "type": "Feature",
      "properties": {
        "State": "Maryland",
        "Production": 289542.0,
        "Breweries": 163,
        "Breweries Per Capita": 2.674168236125999e-05
      }
    },
    {
      "type": "Feature",
      "properties": {
        "State": "Massachusetts",
        "Production": 551630.0,
        "Breweries": 274,
        "Breweries Per Capita": 4.5509444956991914e-05
      }
    },
    {
      "type": "Feature",
      "properties": {
        "State": "Michigan",
        "Production": 764026.0,
        "Breweries": 575,
        "Breweries Per Capita": 5.739811261030545e-05
      }
    },
    {
      "type": "Feature",
      "properties": {
        "State": "Minnesota",
        "Production": 614625.0,
        "Breweries": 270,
        "Breweries Per Capita": 4.773881045427528e-05
      }
    },
    {
      "type": "Feature",
      "properties": {
        "State": "Mississippi",
        "Production": 24000.0,
        "Breweries": 24,
        "Breweries Per Capita": 6.9882892910266424e-06
      }
    },
    {
      "type": "Feature",
      "properties": {
        "State": "Missouri",
        "Production": 354063.0,
        "Breweries": 199,
        "Breweries Per Capita": 3.5553505052402775e-05
      }
    },
    {
      "type": "Feature",
      "properties": {
        "State": "Montana",
        "Production": 197193.0,
        "Breweries": 122,
        "Breweries Per Capita": 0.00011258364841866948
      }
    },
    {
      "type": "Feature",
      "properties": {
        "State": "Nebraska",
        "Production": 52335.0,
        "Breweries": 69,
        "Breweries Per Capita": 3.718057452720128e-05
      }
    },
    {
      "type": "Feature",
      "properties": {
        "State": "Nevada",
        "Production": 74694.0,
        "Breweries": 63,
        "Breweries Per Capita": 1.4468193901583354e-05
      }
    },
    {
      "type": "Feature",
      "properties": {
        "State": "New Hampshire",
        "Production": 110894.0,
        "Breweries": 125,
        "Breweries Per Capita": 4.662351856877982e-05
      }
    },
    {
      "type": "Feature",
      "properties": {
        "State": "New Jersey",
        "Production": 176838.0,
        "Breweries": 173,
        "Breweries Per Capita": 2.1889373591859126e-05
      }
    },
    {
      "type": "Feature",
      "properties": {
        "State": "New Mexico",
        "Production": 141040.0,
        "Breweries": 141,
        "Breweries Per Capita": 2.7959123761061327e-05
      }
    },
    {
      "type": "Feature",
      "properties": {
        "State": "New York",
        "Production": 1295393.0,
        "Breweries": 628,
        "Breweries Per Capita": 3.781811149997396e-05
      }
    },
    {
      "type": "Feature",
      "properties": {
        "State": "North Carolina",
        "Production": 1073431.0,
        "Breweries": 462,
        "Breweries Per Capita": 5.1253395029137824e-05
      }
    },
    {
      "type": "Feature",
      "properties": {
        "State": "North Dakota",
        "Production": 19308.0,
        "Breweries": 29,
        "Breweries Per Capita": 2.4967916227647476e-05
      }
    },
    {
      "type": "Feature",
      "properties": {
        "State": "Ohio",
        "Production": 1300151.0,
        "Breweries": 451,
        "Breweries Per Capita": 3.84788558047933e-05
      }
    },
    {
      "type": "Feature",
      "properties": {
        "State": "Oklahoma",
        "Production": 72844.0,
        "Breweries": 76,
        "Breweries Per Capita": 1.928881265255339e-05
      }
    },
    {
      "type": "Feature",
      "properties": {
        "State": "Oregon",
        "Production": 957904.0,
        "Breweries": 410,
        "Breweries Per Capita": 9.729359987743934e-05
      }
    },
    {
      "type": "Feature",
      "properties": {
        "State": "Pennsylvania",
        "Production": 3412478.0,
        "Breweries": 589,
        "Breweries Per Capita": 4.5699329207534975e-05
      }
    },
    {
      "type": "Feature",
      "properties": {
        "State": "Rhode Island",
        "Production": 60695.0,
        "Breweries": 43,
        "Breweries Per Capita": 3.9763916829358335e-05
      }
    },
    {
      "type": "Feature",
      "properties": {
        "State": "South Carolina",
        "Production": 115775.0,
        "Breweries": 123,
        "Breweries Per Capita": 2.3890335257256283e-05
      }
    },
    {
      "type": "Feature",
      "properties": {
        "State": "South Dakota",
        "Production": 20700.0,
        "Breweries": 49,
        "Breweries Per Capita": 5.498762121673906e-05
      }
    },
    {
      "type": "Feature",
      "properties": {
        "State": "Tennessee",
        "Production": 202730.0,
        "Breweries": 176,
        "Breweries Per Capita": 2.557563233266106e-05
      }
    },
    {
      "type": "Feature",
      "properties": {
        "State": "Texas",
        "Production": 1193582.0,
        "Breweries": 485,
        "Breweries Per Capita": 1.6662314965307125e-05
      }
    },
    {
      "type": "Feature",
      "properties": {
        "State": "Utah",
        "Production": 176545.0,
        "Breweries": 52,
        "Breweries Per Capita": 1.587895161714275e-05
      }
    },
    {
      "type": "Feature",
      "properties": {
        "State": "Vermont",
        "Production": 325903.0,
        "Breweries": 101,
        "Breweries Per Capita": 5.134401835008192e-05
      }
    },
    {
      "type": "Feature",
      "properties": {
        "State": "Virginia",
        "Production": 388297.0,
        "Breweries": 391,
        "Breweries Per Capita": 5.39545149168006e-05
      }
    },
    {
      "type": "Feature",
      "properties": {
        "State": "Washington",
        "Production": 552112.0,
        "Breweries": 604,
        "Breweries Per Capita": 7.917496065332075e-05
      }
    },
    {
      "type": "Feature",
      "properties": {
        "State": "West Virginia",
        "Production": 20682.0,
        "Breweries": 34,
        "Breweries Per Capita": 1.384310546820138e-05
      }
    },
    {
      "type": "Feature",
      "properties": {
        "State": "Wisconsin",
        "Production": 923298.0,
        "Breweries": 340,
        "Breweries Per Capita": 6.581675724321478e-05
      }
    },
    {
      "type": "Feature",
      "properties": {
        "State": "Wyoming",
        "Production": 57917.0,
        "Breweries": 50,
        "Breweries Per Capita": 8.637831282424259e-05
      }
    }
  ]
}
JSON data exported to: ../data/heatmap.json

## Time Series Query

In [10]:
#Extract data from Quarterly table in the database, restricting to relevant data
# SQL query
query = '''
SELECT "StateID", "Year", "Quarter", "TotalQuarterProd", "StocksOnHand" FROM public."QuarterlyProduction"
ORDER BY "StateID" ASC, "Year" ASC, "Quarter" ASC 
'''

# Execute the query and fetch the results into a DataFrame
quarterlyDF = pd.read_sql_query(query, engine)
quarterlyDF.head()

  StateID  Year Quarter  TotalQuarterProd  StocksOnHand
0      AK  2017      Q1          43715.79      14848.42
1      AK  2017      Q2          54774.67      13249.36
2      AK  2017      Q3          56571.29      12874.29
3      AK  2017      Q4          38779.60       8532.77
4      AK  2018      Q1          49548.90      14306.25

In [11]:
quarter_mapping = {'Q1': 0.25, 'Q2': 0.5, 'Q3': 0.75, 'Q4': 1.0}
quarterlyDF['YearQuarter'] = quarterlyDF['Year'] + quarterlyDF['Quarter'].map(quarter_mapping)

fill_value = -1  # You can change this to any value you prefer
quarterlyDF[['TotalQuarterProd', 'StocksOnHand']] = quarterlyDF[['TotalQuarterProd', 'StocksOnHand']].fillna(fill_value)

quarterlyDF = quarterlyDF.drop(['Year', 'Quarter'], axis=1)

In [16]:
grouped = quarterlyDF.groupby('StateID').apply(lambda x: x.drop('StateID', axis=1).to_dict(orient='records')).reset_index(name='data')
grouped.head()

  StateID                                               data
0      AK  [{'TotalQuarterProd': 43715.79, 'StocksOnHand'...
1      AL  [{'TotalQuarterProd': 12509.21, 'StocksOnHand'...
2      AR  [{'TotalQuarterProd': 6891.71, 'StocksOnHand':...
3      AZ  [{'TotalQuarterProd': 52463.72, 'StocksOnHand'...
4      CA  [{'TotalQuarterProd': 5444732.26, 'StocksOnHan...

In [13]:
grouped.set_index('StateID').to_json('../data/time_series.json', orient='index')

#Old: test.to_json('../data/time_series.json', orient='records')